body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}
#modalBg {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(34,32,64,0.7);
}
.closebtn {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    right: 25px;
    transition: 0.4s ease;
    z-index: 10;
    background: #a5a5a5;
    color: #fff;
    border-radius: 50%;
    @include mediaquery(null, 767px){
        right: 15px;
    }
    .close {
        display: inline-block;
        width: 22px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -11px;
        transform: rotate(45deg);
        transform-origin: center;
        transition: 0.5s ease;
        background: #fff;
        &::after {
            content: "";
            height: 22px;
            width: 2px;
            margin: -11px 0 0 -1px;
            left: 50%;
            top: 50%;
            background: #fff;
            position: absolute;
            transition: 0.4s ease;
        }
    }
    &:hover {        
        @include mediaquery(768px, null){
            background: #ff7f00;
        }
    }
}
.modal {
    position: fixed;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    border-radius: 1em;
    transform: translate(-50%, -50%);
    padding: 2.62% 5.25%;
    background: #fff;
    @include mediaquery(null, 767px){
        width: 87.5%;
        padding: 5.5% 6.5%;
        border-radius: 0.5em;
    }
}
.modal-content{
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    @include mediaquery(null, 767px){
        padding: 0;
    }
    &::-webkit-scrollbar{
        width: 5px;
        @include mediaquery(null, 767px){
            width: 2px;
        }
    }
    &::-webkit-scrollbar-track{
        background: #ff9639;
        opacity: 0.5;
        border-radius: 2.5px;
    }
    &::-webkit-scrollbar-thumb{
        background: #0080cc;
        border-radius: 2.5px;
    }
    .title{
        margin-bottom: 24px;
        @include mediaquery(null, 767px){
            margin-bottom: 27px;
        }
        span:first-child{
            font-size: 18px;
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
        }
        span:last-child{
            font-size: 14px;
            color: #a5a5a5;
            margin-left: 15px;
            @include mediaquery(null, 1200px){
                display: block;
                margin-left: 0;
            }
            @include mediaquery(null, 767px){
                font-size: 12px;
                line-height: 1;
            }
        }
    }
    img{
        min-width: 500px;
        @include mediaquery(null, 767px){
            min-width: auto;
        }
    }
}